* { /* El asterisco significa que aplica para todo el html */
    box-sizing: border-box; /* hace que cuando agregamos margin y padding
    no afecta las dimensiones del elemento */
    margin : 0; 
    padding: 0;
    /* resetea margenes y padding */
}

:root{/* Declaro clase (root significa que tiene scope global */
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

    body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: white;
}

a {
    text-decoration: none;
    color:#333
    /*Le saca el subrayado a los links y les asigna color */
}

ul {
    list-style: none; /* Le saca los bullet points a las listas */
}

img {
    max-width: 100%; /* Se queda adentro del div que la contiene */
}

/* Navbar */
.navbar {
    background: #fff;
    padding: 20px;
}
.navbar .container{
    display:flex;
    justify-content: space-between;
}
.main-menu ul{
    display:flex;

}

.navbar ul li a{
    padding: 10px 20px;
    display: block;
    transition: 0.5s; /* para que no vaya al color del hover de una sino q transicione */
    font-weight: 600;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}

.navbar ul li a i {
    margin-right: 10px;
}

.navbar ul li:last-child a{
    margin-left: 10px;
}

/* Utility Classes */
/* Dado que hay containers de distintas dimensiones (unos mas angostos
que otros), creamos subclase dentro de container (small container) */

.container {
    max-width: 1100px;
    margin: 0 auto; /* Esto hace que el margen left and right = 0, y
                    que el margen top and bottom sea auto*/
    padding: 0 15px /* idem */
}

.container-sm {
    max-width: 800px;
    margin: 0 auto; /* Esto hace que el margen left and right = 0, y
                    que el margen top and bottom sea auto*/
    padding: 0 15px /* idem */
}

/* Button Classes */
.btn {
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color); 
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-dark{
    background: var(--dark-color);
    color: #fff;
}

.btn-block {/* si queremos que sea block level y all the way across */
    display:block;
    width:100%;
}


/* Hero Section*/

.hero {
    margin-bottom: 50px;
}

.hero .container{
    background: url('./images/hero-bg.png') no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 550px
}

.hero .hero-content{
    width: 70%;
}

.hero .hero-text{
    width: 70%;
    margin-bottom: 20px;
}

/* Text classes */

.text-xxl {
    font-size: 3rem; /* multiplicador de tamaño de fuente */
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem; /* multiplicador de tamaño de fuente */
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem; /* multiplicador de tamaño de fuente */
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem; /* multiplicador de tamaño de fuente */
    line-height: 1.4;
    font-weight: normal;
    margin: 20 0 20px;
}

.text-sm {
    font-size: 0.9rem; /* multiplicador de tamaño de fuente */
    line-height: 1.4;
    font-weight: normal;
    margin: 5px 0 10px;
}

.text-center {
    text-align: center;
}