* { /* El asterisco significa que aplica para todo el html */
    box-sizing: border-box; /* hace que cuando agregamos margin y padding
    no afecta las dimensiones del elemento */
    margin : 0; 
    padding: 0;
    /* resetea margenes y padding */
}

:root{/* Declaro clase (root significa que tiene scope global */
    --primary-color: #4891ff;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: white;
    overflow-x: hidden; /* Para que no haya una barra de desplazamiento horizontal */
}

a {
    text-decoration: none;
    color:#333
    /*Le saca el subrayado a los links y les asigna color */
}

ul {
    list-style: none; /* Le saca los bullet points a las listas */
}

img {
    max-width: 100%; /* Se queda adentro del div que la contiene */
}

/* Navbar */
.navbar {
    background: #fff;
    padding: 20px;
}
.navbar .container{
    display:flex;
    justify-content: space-between;
}
.main-menu ul{
    display:flex;

}

.navbar ul li a{
    padding: 10px 20px;
    display: block;
    transition: 0.5s; /* para que no vaya al color del hover de una sino q transicione */
    font-weight: 600;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}

.navbar ul li a i {
    margin-right: 10px;
}

.navbar ul li:last-child a{
    margin-left: 10px;
}

/* Pricing */


.pricing .pricing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    gap: 30px;
}

.pricing .pricing-card-subheading { /* Es buena practica prefixear (en este caso con .pricing) */
    margin-bottom: 30px;
}

.pricing .pricing-card-price{
    margin-bottom: 30px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.pricing ul {
    margin: 30px 0 /* 30 top and bottom 0 left and right */
}

.card-free{
    margin-top: 80px;
    padding-top: 20;
    margin-bottom: 40px;
}

.pricing-card-body-premium{
    margin: 30px 20px
} 

.pricing ul li {
    margin-bottom: 20px;
    display: flex;
}

.pricing ul li i {
    margin-right: 10px;
}

.pricing .pricing-footer {
    margin: 30px 0;
}

/* FAQ */

.faq {
    padding: 40px 0; 
}

.faq-group {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.faq .faq-group .faq-group-header {
    padding: 20px 0;
    margin: 15px 0;
    position: relative;/* Esto se hace pq el icono debe ser posicionado 
                        como absolute dentro del grupo-header. Para ello, debemos
                        hacer el group-header position relative. Queremos posicionar el icono como absoluto para poder elegir exactamente donde queremos el icono    */
}

.faq .faq-group .faq-group-header h4 {
    font-weight: 600;
    width: 95%; /* Para que no se choque con el icono */
}

.faq .faq-group .faq-group-header i {
    position: absolute;
    right: 0; /* Para que se posicione a 0 de distancia a la derecha (a la derecha) */
    top: 35px; /* A 35 px del top */
    font-size: 1.5rem;
    cursor: pointer;
}

.faq .faq-group .faq-group-body {
    display: none; /* Para que no se vea */
}

.faq .faq-group .faq-group-body.open {
    display: block; /* Para que si se vea si la clase es open */
}

.faq ul.faq-menu{
    max-width: 400px;
    margin: auto; /* Para que este en el medio */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ddd;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.faq ul.faq-menu li{
   padding: 10px 20px;
   border-radius: 5px;
   text-align: center;
}

.faq ul.faq-menu li.active {
    background: var(--primary-color);
    color: #fff;
}

/* Footer */

.footer {
    padding: 40px 0;
}

.footer h4 {
    margin-bottom: 10px;
}

.footer ul li {
    line-height: 2.5; /* Para separarlos mas el uno del otro */

}

.footer a {
    color: #ccc;
}

.footer i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.footer .card {
    margin: 20px 10px 10px 0px;
}

.footer input[type="email"] {
    width: 100%; /* 100% of its container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;    

}


/* Utility Classes */
/* Dado que hay containers de distintas dimensiones (unos mas angostos
que otros), creamos subclase dentro de container (small container) */

.container {
    max-width: 1100px;
    margin: 0 auto; /* Esto hace que el margen left and right = 0, y
                    que el margen top and bottom sea auto*/
    padding: 0 15px /* idem */
}

.container-sm {
    max-width: 800px;
    margin: 0 auto; /* Esto hace que el margen left and right = 0, y
                    que el margen top and bottom sea auto*/
    padding: 0 15px /* idem */
}

/* Card */

.card {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 20px;
}

/* Fue movida de abajo hacia arriba pq sino no se ponia la card de
premium en dark (tema de precedencia } */

/* Button Classes */
.btn {
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color); 
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-dark{
    background: var(--dark-color);
    color: #fff;
}

.btn-block {/* si queremos que sea block level y all the way across */
    display:block;
    width:100%;
}


/* Hero Section*/

.hero {
    margin-bottom: 50px;
}

.hero .container{
    background: url('./images/hero-bg.png') no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 550px
}

.hero .hero-content{
    width: 70%;
}

.hero .hero-text{
    width: 70%;
    margin-bottom: 20px;
}

/* Video */

.video{
    padding: 10px 0 40px;
}

.video .video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video .video-preview {
    margin-bottom: 20px;
}

/* Testimonials */

.testimonials {
    padding: 40px 0; /* Para que no se vea un espacio feo entre el bloque de arriba y
                        el heading de testimonials */
}

.testimonials-heading {
    width:700px;
    margin-bottom: 40px;
}

.testimonials-grid {
    display: grid;
/*  grid-template-columns: 1fr 1fr 1fr;Para que cada uno ocupe una fraccion de la pantalla  */
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.testimonials .card p:nth-child(2){
    margin-top: 30px;
    font-weight: bold;
}


/* Podria haber usado flexbox */


/* Text classes */

.text-xxl {
    font-size: 3rem; /* multiplicador de tamaño de fuente */
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem; /* multiplicador de tamaño de fuente */
    line-height: 1.4;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem; /* multiplicador de tamaño de fuente */
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem; /* multiplicador de tamaño de fuente */
    line-height: 1.4;
    font-weight: normal;
    margin: 20 0 20px;
}

.text-sm {
    font-size: 0.9rem; /* multiplicador de tamaño de fuente */
    line-height: 1.4;
    font-weight: normal;
    margin: 5px 0 10px;
}

.text-center {
    text-align: center;
}

/* Background */

.bg-primary {
    background: var(--primary-color);
    color: #fff;
}

.bg-light {
    background: var(--light-color);
    color: #333;
}

.bg-dark {
    background: var(--dark-color);
    color: white;
}

.bg-black {
    background: #000;
    color: white;
}

/* Hamburguer Botton */

.hamburguer-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000; /* Para que quede arriba de todo */
}

.hamburguer-button .hamburguer-line {
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
}

/* Mobile Menu */

.mobile-menu {
    position: fixed;
    top: 0;
    right: -300px; /* 300 pixeles afuera de la pagina */
    width: 250px;
    height: 100%;
    z-index: 100; /* Para que este encima de todo menos el hamburguer button */
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) ;/* #000 con opacity de 0.2 */
    transition: right 0.3s ease-in-out; /* Para que la propuedad right varíe en 0.3s con la transicion ease-in-out */
}

.mobile-menu.active {
    right: 0;
}

.mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
}

.mobile-menu ul li {
    margin: 10px 0px;
}

.mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
}


/* Media Queries --> Nos permite añadir CSS especificos a tamaños de pantalla */
@media (max-width: 960px) {/* Todo CSS aca solo va a estar solo si la pantalla es de    menos de 960 px */
    .text-xxl {
        font-size: 2.5rem;
    }
}

@media(max-width: 670px) {/* Larger mobile devices */
    .navbar .main-menu{
        display:none;
    }
    .navbar .hamburguer-button {
        display: block;
    }

    .hero .container {
        background: url(./images/hero-bg-mobile.png) no-repeat;
        background-size: 350px; /* Hay que probar valores hasta ver cual funciona */
        background-position: bottom;
        height: 770px; /* Para q entre todo agrandamos el container */
    }

    .hero .hero-content, .hero .hero-text {
        width: 100%;
        text-align: center;
    }

    .hero .hero-buttons .btn {
        margin-bottom: 20px;
        display: block;
        width: 100%;
    }

    /* Text */

    .text-xl {
        font-size: 1.9rem;
    }

    .text-lg {
        font-size: 1.5rem;
    }

    .text-md {
        font-size: 1.1rem;
    }

    /* Testimonials */

    .testimonials-heading {
        max-width: 100%; /* Para q no se nos vayan de la pantalla */
        text-align: center;
    }

    .testimonials .testimonials-grid, .footer .footer-grid {
        grid-template-columns: 1fr; /* Una sola columna */
    }

    .footer .card {
        margin-right: 0; /* Para se extienda a lo largo de la pantalla */
    }

    .footer .footer-grid >div{ /* Los parent divs adentro del grid */
        text-align: center;
    }
    /* Pricing */ /* La añadi yo pq como habia tocado para que premium sea mas grande q free ahora tengo q adaptar eso */

    .pricing .pricing-heading {
        padding-top: 60px;
    }

    .pricing .pricing-subheading {
        margin-bottom: -20px;
    }

    .pricing .pricing-grid {
        grid-template-columns: 1fr;
        margin-top: 0px;
    }
}

    

@media(max-width: 500px){/* Smaller mobile devices */
    .text-xxl {
        font-size: 2rem;
    }
}